@model Lombiq.ChartJs.Samples.ViewModels.Sample.BalanceViewModel
@{
    Layout = "../_Layout";
}

<style asp-name="Lombiq.ChartJs.Samples"></style>

<div class="@CssClassNames.ChartContainerName">
    @* Nothing interesting happens here, we just pass the model properties one by one to <chart>. *@
    <chart type="bar" labels="@Model.Labels" datasets="@Model.DataSets" options="@Model.Options"></chart>
    @* NEXT STATION: ViewModels/BalanceViewModel.cs. *@
</div>
