# Exclude build directories
obj/
bin/
*.user

# Exclude IDE directories
/.idea
/.vs

# Exclude node modules
node_modules/

# Exclude wwwroot and add exceptions
**/wwwroot/*
!**/wwwroot/favicon.ico
!**/wwwroot/.placeholder
